$font-size-base: rem(16px);
$line-height-base: rem(26px);
$color-base:#000;
$font-family-base: 'Poppins', sans-serif;
$min-width-base: rem(320px);

$primary-color: #000;
$secondary-color: rgba(0,0,0,0.7);

$light-gray: #b3b3b3;
$middle-gray: #616161;
$primary-border-color: rgba(0,0,0,0.10);
