@import '../resources';

.about {

  p {
    color: $secondary-color;
  }
  .grid-item {
    &:not(:first-child) {
      margin-top: 25px;
    }
    .title {
      font-size: 18px;
      color: $secondary-color;
      font-weight: 500;
      line-height: 1.6;
    }
    ul {
      margin: 10px 0 0 !important;
      li {
        position: relative;
        padding-left: 12px;
        color: $secondary-color;
        font-weight: 300;
        font-size: 14px;
        &:before {
          content: '•';
          position: absolute;
          left: 0;
          font-size: 10px;
          color: #333;
        }
      }

    }
  }
  .list {
    li {
      position: relative;
      padding-left: 12px;
      &:before {
        content: '•';
        position: absolute;
        left: 0;
        font-size: 10px;
        color: #333;
      }
    }
  }
}